<!DOCTYPE html>
<html>
<head>
  <title>后台管理</title>
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<div class="header">
  <div class="header_title"><a href="/">后台管理系统</a><span class="header_user">欢迎你,Admin</span></div>
</div>
<div class="panel">
  <div class="panel_item">
    <a style="background-color:#39A3F9;" href="/edit?type=it">互联网</a>
    <a style="background-color:#D33733;" href="/edit?type=cookies">笑料</a>
  </div>
  <div class="panel_item">
    <a style="background-color:#1B924A;" href="/edit?type=manager">管理</a>
    <a style="background-color:#FEC536;" href="/edit?type=sanwen">散文</a>
  </div>
  <div class="panel_item">
    <a style="background-color:#D94C59;" href="/tuijian">模块配置</a>
  </div>
</div>
</body>
</html>
